body {
    box-sizing: border-box;
    background-color: #1c2928;
    width: 100%;
    height: 100%;
}

header {
    box-sizing: border-box;
    position: fixed;
    width: 100%;
}

.mainhead {
    width: 100%;
    height: 150px;
    background-color: #00B5A8;
}

li { 
    display: inline-block;
    list-style: none;
}

h1 {
    display: block;
    margin: 10px auto;
    color: #B1CDCB;
    width: 500px;
    line-height: 4.5em;
}

main {
    position: fixed;
    overflow: auto;
    top: 200px;
    bottom: 200px;
    width: 100%;
    height: 700px;
    border-top: 2px solid #00B5AB;
    border-bottom: 2px solid #00B5AB;
}

section {
    display: block;
    width: 100%;
    color: #B1CDCB;
    margin: 30px 0;
}

footer {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 10px;
    background-color: #005c55;

}

table {
    margin: 0 auto;
    border: 0;
    border-style: none;
    border-collapse: collapse;
    width: 1600px;
}

thead {
    background-color: #00B5A8;
    color: #000;
    text-align: center;
}

tbody tr {
    background-color: #B1CDCB;
    color: #1C2929;
    border-bottom: 0;
}

td {
    padding: 2px 10px;
}

td span {
    background-color: #6c7d7c;
    color:white;
    padding: 0 10px;
    font-family: monospace;
}

h2, 
h3 {
    width: fit-content;
    margin: 20px auto 10px auto;
    text-align: center;
}

h3 {
    border-bottom: 1px solid white;
}

tbody tr+tr td {
    border-top: 1px solid rgb(144, 245, 245);
}

.cross,
.tick {
    text-align: center;
}

.cross {
    color:rgb(173, 93, 93)
}

.tick {
    color:rgb(18, 134, 94);
}

ul {
    width: 100%;
}
